:root {
  --background: #fff;
  --orange: #ff7370;
  --strong: #E85E5E;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  color: #E85E5E
}

p {
  color: #0b1215;
  font-size: 18px;
}

h2 {
  color: #0b1215;
}

.logo {
  cursor: pointer;
}

.backToTopBtn {
  background-color: #E85E5E;
  display: inline;
  padding: 30px;
  border-radius: 100% 0 0 0;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.backToTopBtn > * {
  vertical-align: middle;
  color: white;
  text-align: center;
  position: absolute;
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
